<p id="notice"><%= notice %></p>

<p>
  <strong>Airline:</strong>
  <%= @itinerary.airline %>
</p>

<p>
  <strong>Flight number:</strong>
  <%= @itinerary.flight_number %>
</p>

<p>
  <strong>Date of travel:</strong>
  <%= @itinerary.date_of_travel %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @itinerary.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @itinerary.destination %>
</p>

<p>
  <strong>Roundtrip:</strong>
  <%= @itinerary.roundtrip %>
</p>

<p>
  <strong>Price:</strong>
  <%= @itinerary.price %>
</p>

<p>
  <strong>Date purchased:</strong>
  <%= @itinerary.date_purchased %>
</p>


<p>
  <strong>User:</strong>
  <%= @itinerary.user %>
</p>

<%= link_to 'Edit', edit_itinerary_path(@itinerary) %> |
<%= link_to 'Back', itineraries_path %>
